# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.sdf
*.db
*.opendb
*.user
*.suo

*.ipdb
*.ipch
*.iobj
*.pdb

# Project specific
#/ThirdParty
/ThirdParty/glad
/ThirdParty/glfw-3.2.1.bin.WIN64
/Output/*.log
/Output/*.ilk
*x64/

# Runtime assets
/Audio
/Levels
/Models
/Resources
/Shaders
/Textures

# Makefiles
*.make
Makefile